* {
    padding: 0px;
    margin: 0px;
}

.titulo {
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
}

th,td {
    top:0px;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    vertical-align: middle;
    text-align: left;
    padding: 8px;
    
}

.lasttr {
    border-bottom: 0;
}

.lasttd {
    border-right: 0;
}

th {
    padding-bottom: 10px;
}

body {
    /* font-family: Arial, sans-serif; */
    font-size: 16px;
    background-color: rgb(235, 233, 233);
    margin: 0px auto;
    width: 100%;
}

nav{
    width: 100%;
    background-color: rgb(248, 244, 232);
}

nav ul {
    margin-top:0px;
    list-style-type: none;
    padding: 0px;
    margin:0px;
}

#liIzq {
    border-left: 1px solid #bbb;
}

#liDer {
    float: right;
    border-left: 1px solid #bbb;
}

nav li {
    display:inline-block;
	width:100px;
	height:30px;
	padding:5px 5px;
	background-color: rgb(248, 244, 232);
	border-right: 1px solid #bbb;
	text-align:center;
	position:relative;
    
}

li a{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.login {
    position: relative;
    top: 100px;
    width: 300px;
    height: 300px;
    margin:0px auto;
    background-color: rgb(248, 244, 232);
    border: 1px solid #bbb;;
    display: flex;
   	justify-content: center;
   	align-items: center;
}

.seccionListas {
    background-color: rgb(248, 244, 232);
    width: 700px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 8px;
    /*Coloca el texto en el medio del div */
	display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

section {
    background-color: rgb(248, 244, 232);
    width: 700px;
    margin: 0px auto;
    margin-top: 50px;
    padding: 8px;
    /*Coloca el texto en el medio del div */
	display: flex;
    justify-content: center;
    align-items: center;
}

.active {
    color: white;
    background-color: rgba(204, 201, 190, 0.842);
  }

nav li > ul{
    display:none;
}

nav li:hover > ul{
	display:block;
	position:absolute;
    top:40px;
    left: -5px;
}

.etiqueta {
    width: 150px;
}

.caja {
    margin-bottom: 20px;
    overflow:auto;
    
}

.columnaIzq {
    margin: 10px;
    padding: 10px;
    width: 300px;
    float: left;
}

.columnaDer {
    margin: 10px;
    padding: 10px;
    width: 300px;
    float: right;
}

.seccionIzq {
    margin-bottom: 2px;
    width: 50%;
    float: left;
}

.seccionDer {
    margin-bottom: 2px;
    width: 50%;
    float: right;
}

.cajaProfesoresIzq {
    clear: both;
    width: 50px;
    float: left;
}

.cajaProfesoresDer {
    width: 220px;
    float: right;
} 


.hidden {
    visibility: hidden;
}

input[type=number]{
    width: 60px;
} 

input {
    padding:2px;
}

input[name=altaCursos] {
    margin-top: 70px;
    height: 30px;
    width: 40px;
    margin-left: 280px;
}

input[name=altaMaterias] {
    height: 30px;
    width: 40px;
    margin-left: 250px;
}

input[name=altaAlumnos] {
    height: 30px;
    width: 40px;
    margin-left: 217px;
}



